<a href="https://colab.research.google.com/github/zexross/club-assignments/blob/master/pandas-intro/Pandas_Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# What is Pandas?
Pandas stands for **“Python Data Analysis Library"**

---
1. It is a Python package for data science.
2. It offers powerful, expressive and flexible data structures that make data manipulation and analysis easy

In [ ]:
from google.colab import files
files.upload()

In [ ]:
!ls

In [ ]:
import numpy as np
import pandas as pd

# Series
You can think of a Series as a “column” of data, such as a collection of observations on a single variable.

In [ ]:
s = pd.Series(np.random.randn(4))          # create the panda data type series
s

In [ ]:
s.describe()           # Generate descriptive statistics

# DataFrames
While a Series is a single column of data, a DataFrame is several columns, one for each variable.

It is a powerful tool for representing and analyzing data that are naturally organized  into rows and columns, often with  descriptive indexes for individual rows and individual columns.

In [ ]:
df = pd.read_csv('mobile_cleaned-1549119762886.csv')
type(df)

In [ ]:
df.head()         # Provides a look over the first 5 entries in our data

In [ ]:
df.tail()         # Provides a look over the last 5 entries in our data

In [ ]:
dir(df)          # return an alphabetized list of names comprising (some of) the attributes of the given object

In [ ]:
len(df)

In [ ]:
df.shape

# iloc vs loc in Pandas

To select both rows and columns using integers, the iloc attribute can be used

In [ ]:
df.iloc[2:5, 0:4]

To select rows and columns using a mixture of integers and labels, the loc attribute can be used

In [ ]:
df.loc[4:7]

In [ ]:
df.loc[4:7, ['gpu_rank', 'processor_frequency']]

# More in Pandas

Selecting particular rows using standard Python array slicing notation and creating a new dataframe object from it

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

In [ ]:
df_short = df[25:30]

In [ ]:
df_short.shape

In [ ]:
df_short.head()

In [ ]:
df_short = df_short.set_index('thickness')     # Change the index
df_short

In [ ]:
df_thin = df[['stand_by_time', 'expandable_memory', 'price', 'battery_capacity', 'is_liked']]

In [ ]:
df_thin.shape

In [ ]:
df_thin.head()

In [ ]:
df_liked = df_thin[df_thin['is_liked'] == 1]

In [ ]:
df_liked.shape

In [ ]:
df_thin.describe()

In [ ]:
df_thin['price'].describe()

In [ ]:
df_thin[df_thin['is_liked'] == 1]['price'].mean()

In [ ]:
df_thin[df_thin['is_liked'] == 0]['price'].mean()

In [ ]:
g = df_thin.groupby(['is_liked'])

In [ ]:
for key, df_key in g:
  print(key)
  print(df_key)

In [ ]:
df_thin.groupby(['is_liked']).describe()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.plot(df['price'],df['gpu_rank'], "bo")
plt.show()

## Final words
Thanks to all the bloggers and developers from where I compiled all the resources.
Some useful refrences but not limited to:
1. [Pandas - Python Programming for Economics](https://python-programming.quantecon.org/pandas.html)
2. [What is Pandas? Why and How to Use Pandas in Python](https://www.youtube.com/watch?v=dcqPhpY7tWk)

Questions you should try out(dataset will be provided to you):
1.  Display the dataset (5 rows only)
2.  Display column `ParentId`
3.  Access 3rd row's 1st column
4. Display rows with  index number 7 to index number 18
5. Display rows where column'SomeBool' = `true`